<template>
  <div class="page">
    <section class="page-title">My Orders</section>
      <!-- use the modal component, pass in the prop -->

    <ul class="orders">
      <li v-for="order in transactions" :key="order['.key']" >
        <section class="info">
          <span class="title">Transaction {{ order['.key'] }}</span>
          <span class="status">{{ statusText(order) }}</span>
        </section>
        <a
          :href="isCompleted(order) ? order.downloadURL : '#'"
          class="btn action"
          :class="[ actionButtonClass(order) ]"
          @click="showModalFor($event, order)"
        >
          {{ actionText(order) }}
        </a>
      </li>
      <li v-if="!transactions.length" class="no-orders-item">
        <section class="info">
          <span class="title">{{ 'text_empty_orders_fan' | remoteConfig }}</span>
        </section>
      </li>
    </ul>
    <modal v-if="showModal" @close="closeModal(false)">
      <h3 slot="header">Confirm cancellation</h3>
      <div slot="body">
        <button @click="closeModal(false)" class="btn action">
          No
        </button>
        <br>
        <button @click.prevent="closeModal(true)" class="btn action btn-rose">
          Cancel my order
        </button>
      </div>
    </modal>
    <modal v-if="justLoggedIn" @close="setJustLoggedIn(false)">
      <div slot="body">
        {{ 'msg_welcome_fan' | remoteConfig }}
      </div>
    </modal>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';

import Firebase from '@/vendors/Firebase';

import modal from '@/components/Modal.vue';

const STATUS_TEXTS = {
  active: '',
  completed: 'Completed',
  cancelled: 'You cancelled this order',
  expired: '',
};

const ACTIONS_TEXTS = {
  cancelled: 'Cancelled',
  completed: 'Download',
  pending: 'Cancel',
  expired: 'Expired',
};

const ACTION_BUTTONS_CLASSES = {
  cancelled: 'btn-black',
  completed: '',
  pending: 'btn-rose',
  expired: 'btn-black',
};

export default {
  name: 'my-orders',
  components: {
    modal,
  },
  firebase: {
    transactions: Firebase.database.ref('transactions')
      .orderByChild('fanId')
      .equalTo(Firebase.instance.auth().currentUser.uid),
  },
  data() {
    return {
      showModal: false,
      currentOrder: '',
    };
  },
  computed: {
    ...mapGetters(['justLoggedIn']),
  },
  methods: {
    ...mapMutations(['setJustLoggedIn']),
    isCompleted(order) {
      return order.status === 'completed';
    },
    isPending(order) {
      return order.status === 'pending';
    },
    statusText(order) {
      return STATUS_TEXTS[order.status];
    },
    actionText(order) {
      return ACTIONS_TEXTS[order.status];
    },
    actionButtonClass(order) {
      return ACTION_BUTTONS_CLASSES[order.status];
    },
    showModalFor(event, order) {
      if (!this.isCompleted(order)) {
        event.preventDefault();
      }

      if (this.isPending(order)) {
        this.currentOrder = order;
        this.showModal = true;
      }
    },
    closeModal(confirmed) {
      this.showModal = false;

      if (!confirmed) {
        return;
      }

      this.performAction();
    },
    performAction() {
      if (this.isPending(this.currentOrder)) {
        this.$firebaseRefs.transactions.child(this.currentOrder['.key']).update({
          status: 'cancelled',
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.page {
  width: 529px;
  align-self: center;
  padding-top: 34px;
  position: relative;

  .page-title {
    height: 29px;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    color: #FFFFFF;
    position: absolute;
    top: -29px - 9px;
  }

  ul.orders {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      flex: 0 0 91px;
      border-radius: 8px;
      background-color: #FFFFFF;
      box-shadow: 0 2px 6px 0 rgba(0,0,0,0.04),
        0 1px 2px 0 rgba(0,0,0,0.04),
        0 0 2px 0 rgba(0,0,0,0.18);
      padding: 22px 24px 18px 28px;
      margin-bottom: 18px;

      &.no-orders-item {

        .info {
          justify-content: center;
        }
      }

      .info {
        display: flex;
        flex-direction: column;

        .title {
          color: #4A4A4A;
          font-size: 14px;
          line-height: 19px;
          text-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
        }

        .status {
          color: #BBBBBB;
          font-size: 14px;
          line-height: 19px;
          text-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
          margin-top: 5px;
        }
      }

      .action {
        margin-left: auto;
        flex: 0 0 122px;
      }
    }
  }
  .btn {
    border: none;
  }
}

@media screen and (max-width: 600px) {

  .page {
    width: 100%;

    .page-title {
      align-self: center;
    }
  }
}
</style>
