<template>
  <div class="static-modal">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'static-modal',
};
</script>

<style lang="scss" scoped>
.static-modal {
  // height: 275px;
  width: 375px;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.04),
    0 1px 2px 0 rgba(0,0,0,0.04),
    0 0 2px 0 rgba(0,0,0,0.18);
  padding: 34px 63px 61px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 0;
    color: #4A4A4A;
    font-size: 24px;
    font-weight: 500;
  }

  .btn {
    flex: 0 0 44px;
  }
}
</style>
