<template>
  <div class="page">
    <h1 v-if="currentUser && currentUser.isAnonymous" class="title">
      Your order was submitted.<br />
      Create an account to manage your order.
    </h1>
    <static-modal>
      <h1>Create your account</h1>
      <section class="form">
        <input
          type="text"
          placeholder="first name"
          v-model="form.firstName"
          maxlength="50"
          @keydown.enter="submit"
          :class="{ error: errorMessage !== '' && hasErrorFirstName }"
        />
        <input
          type="text"
          placeholder="last name"
          v-model="form.lastName"
          maxlength="50"
          @keydown.enter="submit"
          :class="{ error: errorMessage !== '' && hasErrorLastName }"
        />
        <input
          :disabled="currentUser && currentUser.isAnonymous && this.$route.query.email"
          type="email"
          placeholder="email address"
          v-model="form.email"
          @keydown.enter="submit"
          :class="{ error: errorMessage !== '' && hasErrorEmail }"
        />
        <input
          type="password"
          placeholder="password"
          v-model="form.password"
          :class="{ error: errorMessage !== '' && hasErrorPass }"
        />
        <a href="#" class="btn second" @click.prevent="submit">Sign Up</a>
        <span v-if="errorMessage" class="error-message">{{ errorMessage }}</span>
      </section>
    </static-modal>
  </div>
</template>

<script>
import firebase from 'firebase/app';
import { mapGetters, mapMutations } from 'vuex';

import UserType from '@/models/UserType';
import Firebase from '@/vendors/Firebase';

import StaticModal from '@/components/StaticModal.vue';

export default {
  name: 'sign-up-form',
  components: {
    StaticModal,
  },
  props: {
    role: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      form: {
        firstName: '',
        lastName: '',
        email: '',
        password: '',
      },
      hasErrorFirstName: false,
      hasErrorLastName: false,
      hasErrorEmail: false,
      hasErrorPass: false,
      errorMessage: 'All fields are required',
      currentUser: null,
    };
  },
  computed: {
    ...mapGetters(['remoteConfig']),
    isInviteRequired() {
      return this.remoteConfig.invite_required.defaultValue.value === 'true';
    },
  },
  created() {
    this.currentUser = Firebase.instance.auth().currentUser;
    this.form.email = this.$route.query.email || '';
  },
  methods: {
    ...mapMutations(['setJustLoggedIn']),
    async submit() {
      this.hasErrorEmail = false;
      this.hasErrorPass = false;
      this.hasErrorFirstName = false;
      this.hasErrorLastName = false;
      this.errorMessage = '';

      if ((this.form.email === '') && (this.form.password === '') && (this.form.firstName === '') && (this.form.lastName === '')) {
        this.errorMessage = 'All fields are required';
        this.hasErrorEmail = true;
        this.hasErrorPass = true;
        this.hasErrorFirstName = true;
        this.hasErrorLastName = true;

        return;
      }

      if (this.form.email === '') {
        this.errorMessage = 'Email can not be empty';
        this.hasErrorEmail = true;

        return;
      }

      if (this.form.password === '') {
        this.errorMessage = 'Password can not be empty';
        this.hasErrorPass = true;

        return;
      }

      if (this.form.firstName === '') {
        this.errorMessage = 'First name can not be empty';
        this.hasErrorFirstName = true;

        return;
      }

      if (this.form.lastName === '') {
        this.errorMessage = 'Last name can not be empty';
        this.hasErrorLastName = true;

        return;
      }

      let newUser;

      if (this.role === UserType.FAN) {
        try {
          if (this.currentUser !== null) {
            const credential = firebase.auth.EmailAuthProvider.credential(
              this.form.email,
              this.form.password,
            );
            newUser = (await Firebase.instance.auth()
              .currentUser
              .linkAndRetrieveDataWithCredential(credential)).user;
          } else {
            newUser = (await Firebase.instance.auth()
              .createUserWithEmailAndPassword(this.form.email, this.form.password)).user;
          }

          Firebase.instance.database().ref('fans').child(newUser.uid).set({
            bio: {
              email: this.form.email,
              firstName: this.form.firstName,
              lastName: this.form.lastName,
              profileImageUrl: '',
            },
          })
            .then(() => Firebase.instance.database().ref('users').child(newUser.uid).set({ userType: UserType.FAN }))
            .then(() => this.setJustLoggedIn(true))
            .then(() => this.$router.push('/my-orders'));
        } catch (error) {
          this.errorMessage = error.message;
        }
      } else {
        const configArray = {};
        const configString = this.$store.getters.remoteConfig.home_config_creator.defaultValue.value.split(',');
        configString.forEach((element) => {
          configArray[element] = (element === 'New');
        });
        Firebase.instance.auth()
          .createUserWithEmailAndPassword(this.form.email, this.form.password)
          .then(({ user }) => {
            newUser = user;
            return Firebase.instance.database().ref('creators').child(newUser.uid).set({
              bio: {
                email: this.form.email,
                firstName: this.form.firstName,
                lastName: this.form.lastName,
                profileImageUrl: '',
                active: true,
                averageRating: 0,
                instagramUsername: '',
                isVerified: !this.isInviteRequired,
                likes: 0,
                profileDescription: '',
                rateUSD: 0,
                responseTime: 1,
                categories: configArray,
              },
            });
          })
          .then(() => Firebase.instance.database().ref('users').child(newUser.uid).set({
            userType: UserType.CREATOR,
          }))
          .then(() => {
            if (this.isInviteRequired) {
              this.$router.push('/verify-profile');
            } else {
              this.$router.push('/set-rates');
            }
          })
          .catch((error) => {
            this.errorMessage = error.message;
          });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.page {
  background-color: #0093FF;
  align-items: center;

  .title {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 500;
    line-height: 41px;
    text-align: center;
  }

  /deep/ .static-modal {
    padding-bottom: 37px;

    h1 {
      margin-bottom: 23px;
    }
  }

  input {
    margin-bottom: 20px;

    &.last-child {
      margin-bottom: 31px;
    }
  }
}
.error
{
 border:1px solid red;
}
</style>
