<template>
  <div class="page">
    <static-modal>
      <h1>Create your account</h1>
      <router-link
        v-if="isShowFanSignUpButton"
        class="btn btn-rose first"
        to="/sign-up/fan"
      >
        {{ 'button_label_fan' | remoteConfig }}
      </router-link>
      <router-link class="btn second" to="/sign-up/creator">
        {{ 'button_label_creator' | remoteConfig }}
      </router-link>
    </static-modal>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

import Helper from '@/utils/Helper';

import StaticModal from '@/components/StaticModal.vue';

export default {
  name: 'sign-up-intro',
  components: {
    StaticModal,
  },
  computed: {
    ...mapGetters(['remoteConfig']),
    isShowFanSignUpButton() {
      return Helper.getRemoteProperty(this.remoteConfig, 'show_fan_signup_button') === 'true';
    },
  },
};
</script>

<style lang="scss" scoped>
.page {
  background-color: #0093FF;
  align-items: center;
}

.btn {

  &.first {
    margin-top: 44px;
  }

  &.second {
    margin-top: 15px;
  }
}
</style>
